.main-head {
margin-top: 3%;
}

.main-logo-border {
	width: 155px;
	height: 55px;
	border: 3px solid #626262;
	border-radius: 2px;
	line-height: 49px;
	text-align: center;
}

.main-logo-border p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 38px;
	margin: 0;
	color: #000;
}

.main-logo-border p span {
	color: #fc6744;
}

.main-nav-bar {
	position: relative;
	float: right;
	margin-top: 25px;
	width: 30px;
}

.line {
	border-radius: 5px;
	display: block;
	width: 30px;
	height: 4px;
	background-color: #626262;
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);
	transform: translateY(-2px);
}

.line::before {
	border-radius: 5px;
	position: absolute;
	right: 0;
	top: 50%;
	content: '';
	width: 30px;
	height: 4px;
	background-color: #626262;
	-webkit-transform: translateY(-8px);
	-ms-transform: translateY(-8px);
	-o-transform: translateY(-8px);
	transform: translateY(-8px);
}
.line::after {
	border-radius: 5px;
	position: absolute;
	right: 0;
	top: 50%;
	content: '';
	width: 30px;
	height: 4px;
	background-color: #626262;
	-webkit-transform: translateY(4px);
	-ms-transform: translateY(4px);
	-o-transform: translateY(4px);
	transform: translateY(4px);
}